.vscode/
__pycache__/
.idea/
logs/
wandb/
Training/
Eval/
prev_codes/

prev_codes/mcts_copy.py
fiar_env_copy.py
mcts_copy.py
network_copy.py

*.log
*.out
*.model
*.zip
*.png
*.c
*.dylib
.DS_Store
policy_value/.DS_Store